@font-face {
  font-family: "Inter Variable";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") 
       format("truetype-variations");
}
      
:root {
  --main-color: rgb(110, 218, 2);
  --dark-grey: #161816;
  --light-grey: #282926;
  --lightest-grey: #373934;
  
  --font-color: #fff;
  --font-light: #cacaca;
  --opposite-font-color: #111;
}

* {
  font-family: "Inter Variable", sans-serif;
  color: var(--font-color);
  box-sizing: border-box;
} 

/*
############################
Reusable Classes
############################
*/


/*
============================
Flex Classes
============================
*/

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-evenly-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-start-center {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}


/*
============================
Rounded Border Classes
============================
*/

.rounded-sm {
  border-radius: 10px;
}

.rounded-md {
  border-radius: 30px
}

.rounded-mx {
  border-radius: 50%;
}


/*
============================
Text Classes
============================
*/

.txt-center {
  text-align: center;
}


/*
============================
Visibility Classes
============================
*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; /* Avoids potential scrollbars */
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* Optional, prevents line breaks */
  border: 0;
}


/*
############################
Classes for unique tags
############################
*/

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--dark-grey);
}

main {
  padding: 2rem;
  flex-grow: 1;
}

#site-footer {
  padding: 2rem;
  width: 100%;
}


/*
============================
media queries for unique tags
============================
*/

@media (max-width: 370px) {
  main {
    padding: 1rem;
  }
}


/*
############################
Class for the article socials
############################
*/

.social-profile {
  background-color: var(--light-grey);
  width: 100%;
  max-width: 400px;
  height: fit-content;
  padding: 2rem 2rem;
  gap: 20px;
}

.social-profile figure img {
  width: 125px;
  height: 125px;
  object-fit: cover;
}

.social-profile figure figcaption {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.75rem;
}

.social-profile address,
.social-profile address a
{
  font-style: normal;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 500;
}

.social-profile p {
  color: var(--font-light);
}

.social-profile footer {
  width: 100%;
}

.social-profile footer nav {
  width: 100%;
  gap: 1rem;
}

.social-profile footer a {
  background-color: var(--lightest-grey);
  border-radius: 10px;
  width: 100%;
  padding: 0.75rem;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.25s;
}

/*
============================
media queries for unique tags
============================
*/

@media (max-width: 370px) {
  .social-profile {
    padding: 2rem 1rem;
  }
}


/*
############################
Animation Classes for the article socials 
############################
*/

.social-profile footer a:hover,
.social-profile footer a:focus {
  background-color: var(--main-color);
  color: var(--opposite-font-color);
}